<!DOCTYPE html>
<html>

<head>
    <title><%= homework %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/image/dsds.png" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css" />
    <script src="https://unpkg.com/xterm/lib/xterm.js"></script>
    <script src="https://unpkg.com/xterm-addon-attach/lib/xterm-addon-attach.js"></script>
    <!-- bootstrap排版套件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/xterm.css">
    <!--bootstrap js套件-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!--動畫-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <h1>
        <%= homework %> - <%= project %>
    </h1>
    <div class="row">
        <div class="col">
            <div class="input_file" id="input">
                <span id="discription">可使用測資：</span>
            </div>
        </div>
        <div class="col" >
            <div id="terminal" style="margin-right:2vw"></div>
        </div>
        <div class="col">
            <div class="output_file">
                <span>output file</span>
                <div id="buttonContainer"></div>

                <!--only for close button usability-->
                <button id="secret-btn" class="button-19"></button>
                <!--only for close button usability-->

                <div class="download" id="download_zone" onclick="download_file()">
                    <img src="/image/save.png" >
                    <p id="download_word">download files</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card file_preview text-dark bg-light mb-3 animate__animated animate__fadeIn" id="previewfile"
        style="display: none;">
        <div class="card-header"></div>
        <button type="button" class="btn-close" aria-label="Close"></button>
        <div class="card-body">
            <p class="card-text"></p>
        </div>
    </div>

    <script>
        const encodedJson = '<%= inputNumbers %>';
        let homework = '<%= homework %>';
        let project = '<%= project %>';
        let id = '<%= id %>';
    </script>

    <script src="/js/xterm.js"></script>
</body>

</html>